@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

#welcome-text {
    font-family: 'Roboto', sans-serif;
    margin-right: 80px;
    font-size: 22px;
    color: rgb(55, 55, 55);
}
