<div class="container main">
  <div class="row">
    <div class="col-ml welcome-text riseUp" style="background-image: url('../assets/just-wave-x1.png');">
      <p id="welcome-text">Welcome to <b>IriHealth</b>, our eHealth website and your one-stop solution for all your
        healthcare needs. <br><br>
        Discover a <b>seamless experience</b> where you can effortlessly schedule appointments, undergo essential
        laboratory
        tests, and conveniently purchase from our extensive online pharmacy.</p>
    </div>
    <carousel class="col-ml carousel fallDown">
      <slide *ngFor="let slide of slides">
        <img id="slide" [src]="slide.image" class="img-fluid" alt="Slide Image">
      </slide>
    </carousel>
  </div>
</div>