@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.main {
    margin-left: 60px;
    margin-top: 50px;
    width: 1300px;
    height: 650px;
    display: flex;
    justify-content: space-between;
}

@keyframes fallDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.fallDown {
    animation: fallDown 0.7s ease-out;
}

@keyframes riseUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.riseUp {
    animation: riseUp 0.7s ease-out;
}

.welcome-text {
    margin-left: 60px;
    margin-top: 110px;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    justify-content: end;
    width: 600px;
    height: 300px;
    border-radius: 80px;
    background-color: inherit;
}

.carousel {
    margin-right: -70px;
}

#slide {
    border-radius: 25px;
    width: 700px;
    height: 438px;
    margin-top: 20px;
}

@media only screen and (max-width: 600px) {
    .container {
        margin-top: -450px;
        margin-left: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #welcome-text {
        font-size: 17px;
        margin-left: 0px;
    }

    .carousel {
        margin-top: 20px;
    }

    #slide {
        max-width: 300px;
        max-height: 200px;
    }

    .col-carousel {
        margin-left: 0px;
    }
}