@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.main {
    margin-top: 5%;
    width: 100%;
    height: auto;
    margin-bottom: 5%;
}

.welcome-text {
    margin-top: 5%;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    justify-content: end;
    border-radius: 80px;
    background-color: inherit;
    margin-bottom: 5%;
    text-align: justify;
    text-justify: inter-word;
}

#slide {
    border-radius: 25px;
    width: 700px;
    max-height: 438px;
}

@keyframes fallDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.fallDown {
    animation: fallDown 0.7s ease-out;
}

@keyframes riseUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.riseUp {
    animation: riseUp 0.7s ease-out;
}

@media only screen and (max-width: 600px) {
    #welcome-text {
        font-size: 17px;
    }
}