@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

#logo {
    width: 50px;
    height: 35px;
    border-radius: 4px;
}

.main {
    width: 80%;
    height: auto;
}

.navbar-nav .nav-item.active {
    background-color: rgb(225, 225, 225);
    color: #fff;
  }

.navbar {
  background-color: rgb(238, 238, 238);
}

.pharma-table {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: rgb(55, 55, 55);
    border-collapse: collapse;
    max-width: 45%;
    height: auto;
    border-radius: 8px;
    overflow: hidden;
}

th,
td {
    border: 2px solid #0078d4;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #0078d4;
    color: #fff;
}

tr {
    background-color: rgb(252, 249, 249);
}

tr:nth-child(even) {
    background-color: #dcdcdc;
}

#button-dark-light-mode img {
    transition: transform 0.8s ease;
}

.dark-mode #button-dark-light-mode {
    background-color: inherit;
}

.dark-mode #button-dark-light-mode img {
    transform: rotate(180deg);
}

.light-mode {
    color: rgb(55, 55, 55);
    transition: background-color 0.8s ease;
}

.dark-mode {
    background-color: rgb(115, 115, 115);
    color: rgb(252, 249, 249);
    transition: background-color 0.8s ease;
}

#button-dark-light-mode {
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    background-color: inherit;
    outline: none;
    margin-left: 80px;
}

#toggle-button {
    padding: 10px;
    cursor: pointer;
}

.infoDiv {

}

.image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.text {
    width: 550px;
    justify-content: end;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}

@keyframes slideRight {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.slideRight {
    animation: slideRight 0.7s ease-out;
}

@keyframes slideLeft {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.slideLeft {
    animation: slideLeft 0.7s ease-out;
}

@keyframes fallDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.fallDown {
    animation: fallDown 0.7s ease-out;
}

@media only screen and (max-width: 600px) {

    .pharma-table {
        font-size: 14px;
    }

    .text {
        font-size: 18px;
    }
}
