

    <!-- <app-navigation></app-navigation>
    <div [ngClass]="theme">
        <div style="display: flex;">
            <app-button-dark-light-mode></app-button-dark-light-mode>
            <app-button-down></app-button-down>
        </div> -->
            <router-outlet></router-outlet>
            
        <!-- <div style="display: flex;">
            <app-button-help></app-button-help>
            <app-button-up></app-button-up>
        </div>
    </div> -->
    <!-- <app-footer></app-footer> -->

