<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <app-navigation></app-navigation>
    <div [ngClass]="theme">
        <div style="display: flex;">
            <app-button-dark-light-mode></app-button-dark-light-mode>
            <app-button-down></app-button-down>
        </div>
            <router-outlet></router-outlet>
        <div style="display: flex;">
            <app-button-help></app-button-help>
            <app-button-up></app-button-up>
        </div>
    </div>
    <app-footer></app-footer>

</body>

</html>