
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.main {
    margin-left: 100px;
    width: 1325px;
    height: 600px;
    display: flex;
    justify-content: space-between;
}

#lab-text {
    font-family: 'Roboto', sans-serif;
    margin-top: 100px;
    margin-left: 100px;
    font-size: 22px;
    color: rgb(55, 55, 55);
}

#lab-video {
    margin-top: 100px;
    margin-right: 100px;
}