
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.main {
    width: 80%;
    height: auto;
}

#lab-text {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    justify-content: end;
}

#lab-video {
    width: 100%;
    height: auto;
}

#button-dark-light-mode img {
    transition: transform 0.8s ease;
}

.dark-mode #button-dark-light-mode {
    background-color: inherit;
}

.dark-mode #button-dark-light-mode img {
    transform: rotate(180deg);
}

.light-mode {
    background-color: rgb(252, 249, 249);
    color: rgb(55, 55, 55);
    transition: background-color 0.8s ease;
}

.dark-mode {
    background-color: rgb(115, 115, 115);
    color: rgb(252, 249, 249);
    transition: background-color 0.8s ease;
}



#toggle-button {
    padding: 10px;
    cursor: pointer;
}

@keyframes riseUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.riseUp {
    animation: riseUp 0.7s ease-out;
}

@media only screen and (max-width: 600px) {
    #lab-text {
        font-size: 18px;
    }
}