
.light-mode {
    background-color: white;
    color: black;
}

.dark-mode {
    background-color: rgb(74, 74, 74);
    color: white;
}

#button-dark-light-mode {
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    outline: none;
    margin-left: 80px;
}
