.mobile-dialog {
  padding: 20px;
}

#info  {
  text-align: justify;
  text-justify: inter-word;
}

/* Mobile styles */
@media only screen and (max-width: 600px) {
  .mobile-dialog {
    padding: 10px;
  }
}