<app-navigation></app-navigation>
<div class="body" [ngClass]="{'dark-mode': x, 'light-mode': !x}">
    <div class="container">
        <div class="row justify-content-center justify-content-between">
            <button id="button-dark-light-mode" class="col-md-6" (click)="toggleMode()"><img src="assets/theme.png"
                    alt="button-dark-light-mode"></button>
            <div class="col-md-6">
                <app-button-down></app-button-down>
            </div>
        </div>
    </div>

    <div class="container main">
        <div class="row justify-content-center align-items-center justify-content-between">

            <img class="img-fluid col-ml appointmentPicture slideRight" src="assets/appointment.png" alt="appointment">

            <form class="needs-validation col-ml appointment-form slideLeft" action="appointments.component.html"
                method="post" (ngSubmit)="handleSubmit()" style="background-image: url('../assets/just-wave.png');">
                <b>
                    <h4>Schedule an appointment</h4>
                </b><br>
                <div class="form-group">
                    <label for="patientName" class="mr-sm-2">Patient Name:</label>
                    <input type="text" id="patientName" name="patientName" class="form-control" required/>
                </div>
                <div class="form-group">
                    <label for="doctorName">Doctor Name:</label>
                    <input type="text" id="doctorName" name="doctorName" class="form-control" required/>
                </div>
                <div class="form-group">
                    <label for="reason">Reason:</label>
                    <input type="text" id="reason" name="reason" class="form-control" required/>
                </div>
                <div class="form-group">
                    <label for="date">Date:</label>
                    <input type="date" id="date" name="date" class="form-control" required/>
                </div>
                <div class="form-group">
                    <label for="time">Time:</label>
                    <input type="time" id="time" name="time" class="form-control" required/>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" id="email" name="email" class="form-control" required/>
                </div>
                <div class="form-group">
                    <label for="phoneNumber">Phone:</label>
                    <input type="tel" id="phoneNumber" name="phoneNumber" pattern="[0-9]{10}" class="form-control"
                        required/> <br><br>
                </div>
                <div class="form-group">
                    <input id="submit-button" type="submit" value="Submit" class="form-control btn btn-primary mb-2">
                </div>
            </form>
        </div>
    </div>
    <app-button-help></app-button-help>
    <app-button-up></app-button-up>
</div>

<app-footer></app-footer>