
#patientName,
#doctorName,
#reason,
#date,
#time,
#email,
#phoneNumber {
    float: right;
    width: 189.6px;
}

.main {
    width: 80%;
    height: auto;
}

.appointmentPicture {
    max-width: 701px;
    max-height: 628px;
}

.appointment-form {
    font-family: 'Roboto', sans-serif;
    width: max-content;
    height: max-content;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    background-color: rgb(248, 245, 245);
}

#button-dark-light-mode img {
    transition: transform 0.8s ease;
}

.dark-mode #button-dark-light-mode {
    background-color: inherit;
}

.dark-mode #button-dark-light-mode img {
    transform: rotate(180deg);
}

.light-mode {
    background-color: rgb(252, 249, 249);
    transition: background-color 0.8s ease;
}

.dark-mode {
    background-color: rgb(115, 115, 115);
    color: black;
    transition: background-color 0.8s ease;
}

#button-dark-light-mode {
    background-color: inherit;
}

#toggle-button {
    padding: 10px;
    cursor: pointer;
}

@keyframes slideRight {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.slideRight {
    animation: slideRight 0.7s ease-out;
}

@keyframes slideLeft {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.slideLeft {
    animation: slideLeft 0.7s ease-out;
}
