<app-navigation></app-navigation>
<div class="body" [ngClass]="{'dark-mode': x, 'light-mode': !x}">
    <button id="button-dark-light-mode" class="col-md-6" (click)="toggleMode()"><img src="assets/theme.png"
            alt="button-dark-light-mode"></button>

    <app-button-down></app-button-down>


    <div class="container main">
        <div class="row justify-content-center align-items-center justify-content-between">

            <img class="img-fluid col-ml appointmentPicture slideRight" src="assets/appointment.png" alt="appointment">

            <form class="col-ml appointment-form slideLeft" [formGroup]="appointmentForm" (ngSubmit)="handleSubmit()"
                style="background-image: url('../assets/just-wave.png');">
                <b>
                    <h4 class="text-center">Schedule an appointment</h4>
                </b><br>
                <div class="form-group">
                    <label for="patientName" class="mr-sm-2">Patient Name:</label>
                    <input type="text" id="patientName" formControlName="patientName" class="form-control" required />
                    <div *ngIf="appointmentForm.get('patientName')?.invalid && appointmentForm.get('patientName')?.touched"
                        style="color: red;">Bad credentials</div>
                </div>
                <div class="form-group">
                    <label for="doctorName" class="mr-sm-2">Doctor Name:</label>
                    <input type="text" id="doctorName" formControlName="doctorName" class="form-control" required />
                    <div *ngIf="appointmentForm.get('doctorName')?.invalid && appointmentForm.get('doctorName')?.touched"
                        style="color: red;">Bad credentials</div>
                </div>
                <div class="form-group">
                    <label for="reason" class="mr-sm-2">Reason:</label>
                    <input type="text" id="reason" formControlName="reason" class="form-control" required/>
                    <div *ngIf="appointmentForm.get('reason')?.invalid && appointmentForm.get('reason')?.touched"
                        style="color: red;">Bad credentials</div>
                </div>
                <div class="form-group">
                    <label for="date" class="mr-sm-2">Date:</label>
                    <input type="date" id="date" formControlName="date" class="form-control" required/>
                    <div *ngIf="appointmentForm.get('date')?.invalid && appointmentForm.get('date')?.touched"
                        style="color: red;">Bad credentials</div>
                </div>
                <div class="form-group">
                    <label for="time" class="mr-sm-2">Time:</label>
                    <input type="time" id="time" formControlName="time" class="form-control" required/>
                    <div *ngIf="appointmentForm.get('time')?.invalid && appointmentForm.get('time')?.touched"
                        style="color: red;">Bad credentials</div>
                </div>
                <div class="form-group">
                    <label for="email" class="mr-sm-2">Email:</label>
                    <input type="email" id="email" formControlName="email" class="form-control" required/>
                    <div *ngIf="appointmentForm.get('email')?.invalid && appointmentForm.get('email')?.touched"
                        style="color: red;">Bad credentials</div>
                </div>
                <div class="form-group">
                    <label for="phoneNumber" class="mr-sm-2">Phone:</label>
                    <input type="tel" id="phoneNumber" formControlName="phoneNumber" class="form-control" required/>
                    <div *ngIf="appointmentForm.get('phoneNumber')?.invalid && appointmentForm.get('phoneNumber')?.touched"
                        style="color: red;">Bad credentials</div>
                </div>
                <div class="form-group">
                    <button id="submit-button" mat-raised-button [disabled]="appointmentForm.invalid" type="submit"
                        value="Submit" class="form-control btn btn-primary mb-2">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <br><br>
    <app-button-help></app-button-help>
    <app-button-up></app-button-up>
</div>

<app-footer></app-footer>