/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import url('app/button-dark-light-mode/button-dark-light-mode.component.css');


@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400; /* Normal */
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500; /* Medium */
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300; /* Light */
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
